<div class="container">
  <h1>Destination Form</h1>

  <form (ngSubmit)="onSubmit()" #destinationForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name"
       required
       [(ngModel)]="model.name" name="name"  #name="ngModel">
       <div [hidden]="name.valid || name.pristine"
       class="ui message alert alert-danger">
       Field is required
      </div>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description"
      required
      [(ngModel)]="model.description" name="description"  #description="ngModel">
      <div [hidden]="description.valid || description.pristine"
      class="ui message alert alert-danger">
      Field is required
     </div>
    </div>



    <div>
    <h1>{{ title }}</h1>
<div class="mapClass">
    <!-- this creates a google map on the page with the given lat/lng from -->
    <!-- the component as the initial center of the map: -->
    <agm-map
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    [disableDefaultUI]="false"
    [zoomControl]="false"
    (mapClick)="mapClicked($event)">

    <agm-marker
        *ngFor="let m of markers; let i = index"
        (markerClick)="clickedMarker(m.label, i)"
        [latitude]="m.lat"
        [longitude]="m.lng"
        [label]="m.label"
        [markerDraggable]="m.draggable"
        (dragEnd)="markerDragEnd(m, $event)">

      <agm-info-window>
        <strong>{{lat}} and {{lng}}</strong>
      </agm-info-window>

    </agm-marker>

  </agm-map>

  </div>>

    <button type="submit" class="btn btn-success"
    [disabled]="!destinationForm.form.valid">Submit</button>
  </div>
  </form>

  <label class="btn btn-default">
    <input type="file" (change)="selectFile($event)">
  </label>

  <button class="btn btn-success" [disabled]="!selectedFiles"
  (click)="upload()">Upload</button>
</div>

	<br/>
	<br/>

  <app-list-upload></app-list-upload>

  <img [src]="netImage" height="42" width="42" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">



{{model | json}}
