:host {
  width: 100%;
  margin: 0;
  padding: 0;
}

.ui.three.column.grid {
  width: 100%;
}

:host /deep/ .ui.card {
  margin: 1em auto;
  width: 90%;
}

:host .ui.three.column.grid {
  margin: 0;
  padding: 30px;
}


.mybutton {
  height: 50px;
  padding: 13px !important;
  width: 50px;
  z-index: 15;
  text-align: center;
  font-size: 44px;
  line-height: 22px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: rgb(18, 134, 86);
  color: white;
  border-radius: 50px;
  border-color: #08806c;
}
