:host {
  width: 100%;
  margin: 0;
  padding: 0;
}

.ui.three.column.grid {
  width: 100%;
}

:host /deep/ .ui.card {
  margin: 1em auto;
  width: 90%;
}

:host .ui.three.column.grid {
  margin: 0;
  padding: 30px;
}
