<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
  <!-- The Grid -->
  <div class="w3-row">

    <!-- Left Column -->
    <div class="w3-col m5">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white">
        <div class="w3-container padding">
          <h2 style="text-align: center;padding-bottom: 10px;">{{event.name}}</h2>
          <div class="container height">
            <div class="map-padding ">
              <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
              </agm-map>
            </div>
            <div class="form-group paddig-top-bottom">
              <a>Date:</a>
              <a>{{event.eventDate | date}}</a>
            </div>
            <div *ngIf="event.meetingPoint.name" class="form-group paddig-top-bottom">
              <a>Starting point:</a>
              <a>{{event.meetingPoint.name}}</a>
            </div>
            <div *ngIf="event.meetingPoint.description" class="form-group paddig-top-bottom">
              <a>Additional information:</a>
              <a>{{event.meetingPoint.description}}</a>
            </div>
            <div class="form-group paddig-top-bottom">
              <a>About the Event:</a>
              <a>{{event.description}}</a>
            </div>
          </div>
        </div>
      </div>
      <!-- End Left Column -->
    </div>
    <!-- Middle Column -->
    <div class="w3-col m7">
      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
              <div class="col-md-7 padding" style="padding-left: 44px;">
                <div class="w3-container" id="destination">
                  <div class="w3-display-container mySlides">
                    <img [src]=[currentImg] style="display: block;max-width: 600px;max-height: 400px;width: auto;height: auto;">
                  </div>
                  <div class="form-group paddig-top-bottom">
                    <a>The destination of the Event is:</a>
                    <a style="text-decoration: underline;" [routerLink]="['/home/destinations', event.destination.name]" routerLinkActive="active">{{event.destination.name}}</a>
                    <a>- Click on the name for more information.</a>
                  </div>
                  <div style="display: flex;">
                    <div style="width: 70%;height: 100%;border-style: ridge;">
                      <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align">
                        <i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> Participants ({{participants.length}})</button>
                      <div id="Demo1" class="w3-hide w3-container participants-padding-container">
                        <a [routerLink]="['/home/user-info', user]" class="user-style" routerLinkActive="active" *ngFor="let user of participants">{{user}}</a>
                      </div>
                    </div>
                    <div style="width: 30%;margin-left: 15px;">
                      <button style="height: 43px;" [disabled]="loading" class="w3-button w3-theme" (click)="registerForEvent()">
                        <i class="calendar check icon"></i> &nbsp;Join The Event
                      </button>
                    </div>
                    <!-- <button pButton type="button" (click)="registerForEvent()" lable="Register for Event">Register for Event</button> -->


                  </div>

                </div>
                <div style="padding-top: 55px;">
                  <div class="send-button send-container">
                    <!-- <div class="send" (click)="saveDestinationComment(input.value)"></div> -->
                    <input class="input-field" id="input" placeholder="Write Comment" type="text" #input>
                    <div>
                      <button [disabled]="loading" class="w3-button w3-theme" (click)="saveDestinationComment(input.value)">
                        <i class="fa fa-pencil"></i> &nbsp;Comment
                      </button>
                    </div>
                  </div>
                  <div class="comment-container">
                    <div class="comment-div" *ngFor="let comment of comments">
                      <a>{{comment}}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Middle Column -->

      </div>
      <!-- End Grid -->
    </div>
    <!-- End Page Container -->
  </div>



















  <!-- 

<div><a>Event INfo page</a></div>

<p></p>
<a>Name of Event:</a>
<a>{{name}}</a>
<p></p>
<a>Destination: </a>

<p></p>




<a>{{event | json}}</a>

<div *ngFor="let img of imgs">
     <img [src]="img" height="42" width="42" class="figure-img img-fluid rounded" alt="a figure.">
</div>



  <button pButton type="button" (click)="registerForEvent()" lable="Register for Event">Register for Event</button>



<div class="ui-g-12 ui-md-4">
    <a>COMMENTS: </a>
    <p-scrollPanel [style]="{width: '100%', height: '200px'}" styleClass="event-comments">
      <div style="padding:1em;line-height:1.5;">
        <div *ngFor="let comment of comments">
          <a>{{comment}}</a>

        </div>
      </div>
    </p-scrollPanel>
  </div>

  <div class="ui-g-12 ui-md-4">
    <a>PARTICIPANTS: </a>
    <p-scrollPanel [style]="{width: '100%', height: '200px'}" styleClass="event-comments">
      <div style="padding:1em;line-height:1.5;">
        <div *ngFor="let user of participants">
            <div [routerLink]="['/home/user-info', user]" routerLinkActive="active">
              <a>{{user}}</a>
            </div>

        </div>
      </div>
    </p-scrollPanel>
  </div>

  {{owner | json}}


  <div class="send-button">
    <div class="send" (click)="saveDestinationComment(input.value)">
    </div>
    <input id="input" type="text" #input>
  </div> -->