<div class="header">
  <div class="header-navigation">
    <a [routerLink]="['/home', 'user-info', currentUser.username]" [routerLinkActiveOptions]="{exact:
        true}" class="user-style" routerLinkActive="active">
      <i class="home icon"></i> HOME</a>
    <a routerLink="/home/events" routerLinkActive="active">
      <i class="bullhorn icon"></i>Event</a>
    <a routerLink="/home/destinations" routerLinkActive="active">
      <i class="map icon"></i>Destination</a>
    <a routerLink="/home/global-chat" routerLinkActive="active">
      <i class="comment alternate icon"></i>Chat</a>
    <a routerLink="/home/messages" routerLinkActive="active">
      <i class="address card icon"></i>Messages</a>

      <div style="display: flex;">
          <div class="header-search" style="display: flex;">
            <div class="ui primary dropdown button" style="padding-right: 0px;padding-bottom: 0px;" suiDropdown>
                <i class="search icon" style="font-size: 22px; color: gray;"></i>
                <div class="menu" suiDropdownMenu>
                    <a class="item" (click)="changeSearchCriteria('event')">Events</a>
                    <a class="item" (click)="changeSearchCriteria('destination')">Destination</a>
                    <a class="item" (click)="changeSearchCriteria('user')">Users</a>
                </div>
            </div>
            <div *ngIf="searchCriteria=='event' ">
                <p-autoComplete [(ngModel)]="event" [suggestions]="filteredEventsSingle" (onSelect)="goToSelectedEvent($event)" (completeMethod)="filterEventsSingle($event)"
                field="name" [size]="50" placeholder="Search for Events" [minlength]="1" [forceSelection]="true">
              </p-autoComplete>
            </div>

            <div *ngIf="searchCriteria=='destination' ">
              <p-autoComplete [(ngModel)]="destination" [suggestions]="filteredDestinationsSingle" (onSelect)="goToSelectedDestination($event)" (completeMethod)="filterDestinationSingle($event)"
                field="name" [size]="50" placeholder="Search for Destination" [minlength]="1" [forceSelection]="true">
              </p-autoComplete>
            </div>
            <div *ngIf="searchCriteria=='user' ">
              <p-autoComplete [(ngModel)]="user" [suggestions]="filteredUsersSingle" (onSelect)="goToSelectedUser($event)" (completeMethod)="filterUserSingle($event)"
                field="username" [size]="50" placeholder="Search for User" [minlength]="1" [forceSelection]="true">
              </p-autoComplete>
            </div>
          </div>
      </div>
<!--
    <div class="header-search">
      <i class="search icon"></i>
      <div class="menu" suiDropdownMenu>
          <a class="item">Events</a>
          <a class="item">Destination</a>
          <a class="item">Users</a>
      </div>
      <p-autoComplete [(ngModel)]="event" [suggestions]="filteredEventsSingle" (onSelect)="goToSelected($event)" (completeMethod)="filterEventsSingle($event)"
        field="name" [size]="50" placeholder="Search for Events" [minlength]="1" [forceSelection]="true">
      </p-autoComplete>
    </div> -->
  </div>
  <div style="display: flex;">
    <span class="username">{{currentUser?.username}}</span>
    <div class="ui primary dropdown button" suiDropdown>
      <div class="avatar">{{currentUser?.username.charAt(0).toUpperCase()}}</div>
      <div class="menu" suiDropdownMenu>
        <a routerLink="/home/user-profile" routerLinkActive="active" class="item">
          <i class="user icon"></i>Edit Personal Information</a>
        <a [routerLink]="['/login']" class="item">
          <i class="sign out alternate icon"></i>Logout</a>
      </div>
    </div>
  </div>

</div>
<div class="page-content">
  <!-- <div class="sidenav">
    <a routerLink="/home/events" routerLinkActive="active">Event</a>
    <a routerLink="/home/destinations" routerLinkActive="active">Destination</a>
    <a routerLink="/home/global-chat" routerLinkActive="active">Chat</a>
  </div> -->
  <!-- dobra ideq e da se sloji router-outlet-a v oshte 1 konteiner na koito e mu slojen padding-a -->
  <router-outlet></router-outlet>
</div>
