<!-- <a>Destination INfo page</a> -->
<!-- <a>{{name}}</a> -->
<!-- <a>{{sub | json}}</a> -->
<!-- <a>{{imgs | json}}</a> -->
{{markers | json}}

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
  <!-- The Grid -->
  <div class="w3-row">

    <!-- Left Column -->
    <div class="w3-col m5">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white">
        <div class="w3-container padding">
          <h2 style="text-align: center;padding-bottom: 10px;">{{sub.name}}</h2>
          <div class="container height">
            <div class="map-padding ">
              <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapReady)="mapReady($event)">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
              </agm-map>
            </div>
            <div class="form-group paddig-top-bottom">
              <a>{{sub.description}}</a>
            </div>

          </div>
        </div>
      </div>
      <!-- End Left Column -->
    </div>
    <!-- Middle Column -->
    <div class="w3-col m7">
      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
              <div class="col-md-7 padding" style="padding-left: 44px;">
                <div class="w3-container" id="destination">


                  <div class="w3-display-container mySlides">
                    <img [src]=[currentImg] style="display: block;max-width: 600px;max-height: 400px;width: auto;height: auto;">

                  </div>

                </div>

                <div class="w3-row-padding w3-section ">
                  <div class="w3-col s3 width" *ngFor="let img of pagedItems">
                    <img class="demo w3-opacity w3-hover-opacity-off imgStyle" [src]="img" (click)="currentImgChange(img)" title="click to change to this photo">
                  </div>
                  <div class="" style="float: right;">
                    <p-fileUpload #fubauto styleClass="mybutton" mode="basic" auto="true" name="demo[]" accept="image/*" maxFileSize="1000000"
                      customUpload="true" (uploadHandler)="upload($event)"></p-fileUpload>
                    <!-- <a class="ui button mybutton" routerLink="/home/destinations/new-destination" routerLinkActive="active">+</a> -->
                  </div>
                </div>

                <div class="center">
                  <!-- pager -->
                  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">

                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                      <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                    </li>
                    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                      <a (click)="setPage(page)">{{page}}</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                      <a (click)="setPage(pager.currentPage + 1)">Next</a>
                    </li>

                  </ul>
                </div>




                <div>

           
                  <div class="send-button send-container">
                    <!-- <div class="send" (click)="saveDestinationComment(input.value)"></div> -->
                    <input class="input-field" id="input" placeholder="Write Comment" type="text" #input>
                    <div >
                        <button [disabled]="loading"  class="w3-button w3-theme" (click)="saveDestinationComment(input.value)">
                          <i class="fa fa-pencil"></i> &nbsp;Comment
                        </button>
                      </div>
                  </div>

                  <div class="comment-container">
                      <div class="comment-div" *ngFor="let comment of comments">
                          <a >{{comment}}</a>
                        </div>

                    </div>

                  <!-- <p-scrollPanel [style]="{width: '100%', height: '200px'}" styleClass="destination-comments">
                    <div style="padding:1em;line-height:1.5;">
                      <div *ngFor="let comment of comments">
                        <a >{{comment}}</a>
                      </div>
                    </div>
                  </p-scrollPanel> -->
                </div>




              </div>
            </div>
          </div>
        </div>
        <!-- End Middle Column -->

      </div>
      <!-- End Grid -->
    </div>
    <!-- End Page Container -->
  </div>