<link rel="stylesheet" href="https://unpkg.com/semantic-ui-calendar/dist/calendar.min.css">

<form #eventForm="ngForm" name="form" style="font-size: 18px;" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
  <!-- The Grid -->
  <div class="w3-row">
    
      <!-- Left Column -->
      <div class="w3-col m6">
        <!-- Profile -->
        <div class="w3-card w3-round w3-white">
          <div class="w3-container padding">
            <h2>Event Information</h2>
            <div class="container height">

              <div class="form-group">
                <label class="labelStyle" for="name">Event Title:</label>
                <input type="text" class="form-control inputStyle full-width" id="name" required [(ngModel)]="model.name" name="name" #name="ngModel">
                <div [hidden]="name.valid || name.pristine" class="ui message alert alert-danger">
                  Field is required
                </div>
              </div>
              <div class="form-group">
                <label class="labelStyle" for="description">Event Description: </label>
                <textarea   id="description" required [(ngModel)]="model.description" name="description"
                #description="ngModel" class="form-control inputStyle full-width" rows="2" cols="30" pInputTextarea ></textarea>
                <!-- <input type="text" class="form-control inputStyle full-width" id="description" required [(ngModel)]="model.description" name="description"
                  #description="ngModel"> -->
                <div [hidden]="description.valid || description.pristine" class="ui message alert alert-danger">
                  Field is required
                </div>
              </div>
              <div>
                <label class="labelStyle" for="name">Meeting Point Name:</label>
                <input type="text" class="form-control inputStyle full-width" id="meetingPointName" required [(ngModel)]="meetingPoint.name"
                  name="name" #name="ngModel">
                <div [hidden]="name.valid || name.pristine" class="ui message alert alert-danger">
                  Field is required
                </div>
              </div>
              <div>
                <label class="labelStyle" for="name">Meeting Point Additional Information:</label>
                <input type="text" class="form-control inputStyle full-width" id="meetingPointName" required [(ngModel)]="meetingPoint.description"
                  name="description" #name="ngModel">
                <div [hidden]="name.valid || name.pristine" class="ui message alert alert-danger">
                  Field is required
                </div>
              </div>
              <div class="ui segments w3-col m12">
                <div class="ui segment  w3-col m6" style="width: 45%;">
                  <sui-select class="selection" placeholder="Select Destination" [(ngModel)]="model.destination" [options]="destinations" labelField="name" name="destination"
                    #destination="ngModel" #select>
                    <sui-select-option *ngFor="let option of select.filteredOptions" [value]="option">
                    </sui-select-option>
                  </sui-select>
                 Can't find your destination?
                  <a style="text-decoration: underline;" [routerLink]="['/register']">Create it.</a>
                </div>
                <div class="ui segment w3-col m6" style="width: 45%; border: none !important;">
                    <div class="field">
                      <!-- <label class="labelStyle">Date</label> -->
                      <div class="ui left icon input">
                        <i class="calendar icon"></i>
                        <input placeholder="Select date" class="inputStyle full-width" suiDatepicker [(ngModel)]="model.eventDate" [pickerUseNativeOnMobile]="false" name="date"
                          #date="ngModel">
                      </div>
                    </div>
                  </div>
              </div>
              
              <p>
                  <div class="form-group padding center ">
                      <button [disabled]="loading" type="submit" class="w3-button w3-theme">
                        <i class="fa fa-pencil"></i> &nbsp;Update Information
                      </button>
                    </div>

            </div>
          </div>
        </div>
        <!-- End Left Column -->
      </div>
      <!-- Middle Column -->
      <div class="w3-col m5">

        <div class="w3-row-padding">
          <div class="w3-col m12">
            <div class="w3-card w3-round w3-white">
              <div class="w3-container w3-padding">
                <div class="col-md-7">
                  <h2>Select Meeting Point Coordinations:</h2>
                  <!-- this creates a google map on the page with the given lat/lng from -->
                  <!-- the component as the initial center of the map: -->
                  <div class="map-padding">
                  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)">

                    <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat" [longitude]="m.lng"
                      [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">
                      <agm-info-window>
                        <strong>{{lat}} and {{lng}}</strong>
                      </agm-info-window>
                    </agm-marker>
                  </agm-map>
                  <div style="padding-top:12px;">
                    <label for="lat">Latitude: {{lat}}</label>
                  </div>
                  <div style="padding-top:8px;">
                    <label for="lng">Longitude: {{lng}}</label>
                  </div>
                  </div>

                  <!-- 
                <form name="form" style="font-size: 18px;" (ngSubmit)="f.form.valid && update()" #f="ngForm" novalidate>
           

                </form> -->
                </div>
                <!--
              <button type="button" class="w3-button w3-theme">
                <i class="fa fa-pencil"></i> &nbsp;Post</button> -->
              </div>
            </div>
          </div>
        </div>
        <!-- End Middle Column -->
  
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Page Container -->
</div>

</form>